html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.navbar {
    position: sticky;
    top: 0px;
    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(6px);
    padding: 16px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid;
}

.navbar a {
    color: white;
    text-decoration: none;
    /* margin: 0 15px; */
    font-size: 15px;
    transition: 0.2s;
}

.navbar a:hover {
    color: #6be3ff;
    background-color: rgba(75, 117, 106, 0.85);
    padding: 8px;
    border-radius: 4px;
    text-decoration: underline;
}

.header {
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    flex-direction: column;
}

.content {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}

.exam-number {
    font-size: 16px;
    margin-top: 0px;
}

ul a {
    color:white;
}

ul a:hover {
    color: rgb(164, 232, 255);
}

.accordion {
  background-color: rgb(131, 196, 216);
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  border-radius: 8px;
  transition: 0.4s;
  margin-bottom: 10px;
}

.active, .accordion:hover {
  background-color: rgb(131, 196, 216);
}

.panel {
  padding: 0 18px;
  background-color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

pre {
    background-color: #111;
    border: 1px solid #333;
    /* border-radius: 8px; */
    padding: 20px;
    overflow-x: auto;
    font-size: 14px;
}

code {
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    color: white;
    white-space: pre;
}

/* Firefox */
* {
    scrollbar-color: #6be3ff #111;
    scrollbar-width: thin;
}

/* Chrome/Edge/Safari */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #6be3ff;
    border-radius: 4px;
}

h2 {
    margin-top: 60px;
}

p {
    line-height: 1.7;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #222;
    padding: 2px;
}

li {
    padding: 3px;
}

td, th {
    padding: 8px;
    text-align: left;
    border: 1px solid #DDD
}

table {
    border-collapse: collapse;
    width: 50%;
}

</style>